[submodule "plugins/ntract-cli-bin"]
    path = plugins/ntract-cli-bin
    url = https://github.com/ntract/ntract-cli-bin.git


[submodule "plugins/ntract-cli"]
    path = plugins/ntract-cli
    url = https://github.com/ntract/ntract-cli.git