[submodule "plugins/interact-cli-bin"]
    path = plugins/interact-cli-bin
    url = https://github.com/ntract/interact-cli-bin.git


[submodule "plugins/interact-cli"]
    path = plugins/interact-cli
    url = https://github.com/ntract/interact-cli.git